---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css"
// import '@fontsource-variable/oxanium';
// import '@fontsource-variable/grenze-gotisch';
// import '@fontsource/cinzel-decorative';
import "@fontsource/share-tech-mono"
import "@fontsource/megrim"

import { AUTHOR,  GOOGLE_SITE_VERIFICATION, KEYWORDS, SITE_DESCRIPTION,SITE_TITLE } from "@/consts"
// monospace font is set through cdn below since hack is not available through google fonts

export interface Props {
	title: string;
	description: string;
	image?: string;
	keywords?: string[];
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title =SITE_TITLE, description = SITE_DESCRIPTION, image = "/favicon.svg", keywords =[] } = Astro.props
---

<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack-subset.css"
	integrity="sha512-/qDvulLjBL2EaRMJOIXQhkiKwhlkDdT2qY000siiuS02OOxbL8BrBOW1aJBjPkC/QJzc8VbnIe4zzGsISNnTHg=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
/>

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={AUTHOR} />
<meta name="google-site-verification" content={GOOGLE_SITE_VERIFICATION} />
<meta name="keywords" content={[...KEYWORDS, ...keywords].join(",")} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
